@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

.fi-sidebar-item-label {
    font-size: 14px !important;
}
.fi-sidebar-item-icon{
    height: 15px;
    width: 15px;
}
.fi-sidebar-group-label{
    font-size: 14px;
    margin-top:-10px;
}
.fi-sidebar-nav-groups{
    gap: 5px !important;
}
.fi-sidebar{
    max-width: 250px;
}